.ft-flex{
  height: auto;
  justify-content: space-between;
  .ft-item{
    float: left;
    margin-left: 20px;
    dd{
      margin-bottom: 15px;
    }
  }
}
.ft-cprate{
  padding: 80px 0;
  text-align: center;
}